body {
  padding: 0;
  margin: 0;
}
#main {
  /* border: 1px solid #999; */
  margin: 0 auto;
}

#header {
  position: relative;
  width: 100%;
  height: 85px;
  background-color: #f7ae9e;
  margin: 0 auto;
  text-align: right;
  border-bottom: 0px solid black;
}

.title {
  position: absolute;
  left: 50px;
}
#nav {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid black;
  background-color: #f6f4f3;
  text-align: right;
}

.btn {
  position: relative;
  right: 40px;
  width: 100px;
  margin: 8px;
}

#footer {
  width: 85%;
  height: 65px;
  margin: 0 auto;
  background-color: #b9baad;
  text-align: center;
}
.login {
  position: relative;
  right: 40px;
  border-style: none;
  background-color: #f7ae9e;
  margin: 5px;
}
.title a {
  text-decoration: none;
  color: black;
}
.title a:link {
  text-decoration: none;
  color: black;
}
.title a:visited {
  text-decoration: none;
  color: black;
}
.title a:active {
  text-decoration: none;
  color: black;
}

#nav a {
  text-decoration: none;
  color: black;
}
#nav a:link {
  text-decoration: none;
  color: black;
}
#nav a:visited {
  text-decoration: none;
  color: black;
}
#nav a:active {
  text-decoration: none;
  color: black;
}
.login a {
  text-decoration: none;
  color: black;
}
.login a:link {
  text-decoration: none;
  color: black;
}
.login a:visited {
  text-decoration: none;
  color: black;
}
.login a:active {
  text-decoration: none;
  color: black;
}
