body {
  padding: 0;
  margin: 0;
}

#wrapper {
  overflow: hidden;
  background-color: #fdfdfd;
}

/*      헤더      */

#header {
  position: relative;
  width: 100%;
  height: 85px;
  background-color: #50403f;
  margin: 0 auto;
  text-align: right;
}

.title {
  position: absolute;
  left: 100px;
  color: antiquewhite;
  cursor: pointer;
}

#footer {
  width: 85%;
  height: 65px;
  margin: 0 auto;
  background-color: #b9baad;
  text-align: center;
}
.login {
  position: relative;
  right: 40px;
  border-style: none;
  background-color: #50403f;
  margin: 5px;
  color: antiquewhite;
  cursor: pointer;
}
.title a {
  text-decoration: none;
  color: antiquewhite;
}
.title a:link {
  text-decoration: none;
  color: antiquewhite;
}
.title a:visited {
  text-decoration: none;
  color: antiquewhite;
}
.title a:active {
  text-decoration: none;
  color: antiquewhite;
}

/* #nav a {
  text-decoration: none;
  color: antiquewhite;
}
#nav a:link {
  text-decoration: none;
  color: antiquewhite;
}
#nav a:visited {
  text-decoration: none;
  color: antiquewhite;
}
#nav a:active {
  text-decoration: none;
  color: antiquewhite;
} */
.login a {
  text-decoration: none;
  color: antiquewhite;
}
.login a:link {
  text-decoration: none;
  color: antiquewhite;
}
.login a:visited {
  text-decoration: none;
  color: antiquewhite;
}
.login a:active {
  text-decoration: none;
  color: antiquewhite;
}
