#movielist{
	margin: 0 auto;
	width: 960px;
	padding: 20px;
}
#moviezone{
	border: 1px solid #999;
	width: 230px;
	background-image: url(../img/movie_list1.jpg);
	background-repeat: no-repeat;
}
#movieinfo{
	border: 1px solid #999;
	width: 230px;
	margin-top: 330px;
	background-color: rgba(95,158,160,0.425);
	font-size: 0.7em;
	
}