#search {
  border-bottom: 1px solid white;
}

/*      메인   */

#main {
  position: relative;
  width: 980px;
  background-color: #ebebeb;
  margin: 0 auto;
}

#section,
#section2 {
  display: inline-block;
  margin: 30px;
}

#section3 {
  display: inline-block;
  margin: 30px;
}

#section4,
#section5 {
  display: inline-block;
  margin: 30px;
}

/*  슬라이드    */

ul,
li {
  list-style: none;
}

#side > ul > li > img {
  position: absolute;
  top: -16px;
  overflow: hidden;
}

#side {
  position: relative;
  right: 170px;
  top: 130px;
  width: 220px;
  height: 700px;
  border: 1px solid;
  float: right;
}
